
@import url("https://fonts.googleapis.com/css?family=Muli");
@import "react-datepicker/dist/react-datepicker.css";


@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para tarjetas en la p치gina de inicio */
.cool-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 320px;
  width: 100%;
  height: 350px;
  position: relative;
}

.cool-card {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: none;
  transition: box-shadow 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cool-card:hover {
  box-shadow: 0px 0px 70px #14fed3;
}

.cool-card .circleLight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: radial-gradient(circle at 80px 40px, #fff, transparent);
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}

.cool-card:hover .circleLight {
  opacity: 0.4;
}

.card-text {
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

@media (max-width: 640px) {
  .cool-card-container {
    height: 320px; /* reduce desde 450px */
  }

  .cool-card {
    padding: 16px;
  }

  .animated-title-container {
    font-size: 28px;
    top: 20px;
  }

  .animated-words li {
    font-size: 18px; /* reduce a칰n m치s si lo ves necesario */
  }
}

/* Aplica el desenfoque solo cuando se activa la clase .blur-bg */
.bg-blurable {
  transition: filter 0.3s ease;
}

.blur-bg {
  filter: blur(5px);
}

/* titulo personalizado */

.animated-title-container {
  position: absolute;
  top: 30px; /* puedes ajustar la distancia vertical */
  left: 50%;
  transform: translateX(-50%);
  font-family: "Muli", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #ecf0f1;
  z-index: 30;
  display: flex;
  align-items: center;
}

.animated-title-container::before,
.animated-title-container::after {
  color: #14fed3;
  font-size: 42px;
  animation: 2s linear infinite opacity;
  content: "[";
}

.animated-title-container::after {
  content: "]";
  margin-left: 10px;
  margin-right: 0;
}

.animated-title-text {
  margin: 0 10px;
  font-weight: 600;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animated-words {
  list-style: none;
  margin: 0;
  padding: 0 0 0 12px;
  height: 40px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  min-width: 140px; /* Asegura que los li tengan espacio */
}

.animated-words li {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  opacity: 0;
  animation: word-fade 6s linear infinite;
  width: max-content; /* Asegura que el contenido completo se muestre */
  font-size: 25px; /* antes estaba en 36px, puedes ajustar m치s si hace falta */
}

.animated-words li:nth-child(1) {
  animation-delay: 0s;
}
.animated-words li:nth-child(2) {
  animation-delay: 4s;
}
.animated-words li:nth-child(3) {
  animation-delay: 8s;
}

@keyframes word-fade {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  5% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0;
  }
}

/* boton comunidad kiyemtuain */
.custom-tooltip-container {
  position: relative;
  display: inline-block;
}

.custom-tooltip-btn {
  padding: 12px 25px;
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  background-color: #181da1a4;
  border: none;
  border-radius: 0 15px 15px 0; /* top-right, bottom-right only */
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 8px 15px rgba(0, 123, 255, 0.4);
}

.custom-tooltip-btn:hover {
  background-color: #0056b3;
}

.custom-tooltip-content {
  position: absolute;
  bottom: 140%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  width: 240px;
  background: linear-gradient(135deg, #007bff 0%, #00c6ff 100%);
  color: #fff;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  border-radius: 15px;
  transition: all 0.4s ease;
  z-index: 1;
  box-shadow: 0px 10px 20px rgba(0, 123, 255, 0.3);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

.custom-tooltip-container:hover .custom-tooltip-content {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(-10px);
}

.custom-tooltip-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #007bff;
}

.custom-tooltip-text {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

/* Encabezado 칰nico Biblioteca P칰blica */


/* Estilo para p치rrafos con 칤conos y colores en la seccion de ayuda */

.alert-p-blue {
  @apply bg-blue-100 dark:bg-blue-900 border-l-4 border-blue-500 dark:border-blue-700 text-blue-900 dark:text-blue-100 
         p-2 rounded-lg flex items-center text-sm font-medium transition duration-300 ease-in-out 
         hover:bg-blue-200 dark:hover:bg-blue-800 transform hover:scale-105;
}

.alert-icon-blue {
  @apply h-4 w-4 mr-2 flex-shrink-0 text-blue-600 dark:text-blue-300;
}

.alert-p-orange {
  @apply bg-yellow-100 dark:bg-yellow-900 border-l-4 border-yellow-500 dark:border-yellow-700 text-yellow-900 dark:text-yellow-100 
         p-2 rounded-lg flex items-center text-sm font-medium transition duration-300 ease-in-out 
         hover:bg-yellow-200 dark:hover:bg-yellow-800 transform hover:scale-105;
}

.alert-icon-orange {
  @apply h-4 w-4 mr-2 flex-shrink-0 text-yellow-600 dark:text-yellow-300;
}

.alert-p-red {
  @apply text-red-900 dark:text-red-100 bg-red-100 dark:bg-red-900 border-l-4 border-red-500 dark:border-red-700 p-2 rounded-lg flex items-center transition duration-300 ease-in-out hover:bg-red-200 dark:hover:bg-red-800 transform hover:scale-105;
}

.alert-icon-red {
  @apply h-5 w-5 flex-shrink-0 mr-2 text-red-600;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
}

/* interaccion de carousel biblioteca, Oculta scrollbar horizontal */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}




/*----------------------- clase de boton para categorias en biblioteca*/ 

/* Bot칩n moderno para categor칤as */
.button-categories {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin-top: 27px;
  padding: 0.5rem 0.75rem;
  width: 100%;
  background-color: rgb(122, 48, 143); /* morado base */
  background-image: linear-gradient(
    90deg,
    rgba(16, 5, 36, 1) 0%,
    #1a73e8 50%,
    rgba(16, 5, 36, 1) 100%
  );
  font-size: 0.875rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 2px 1px rgb(122, 48, 143);
  transition: all 0.3s cubic-bezier(1, 0, 0, 1), background-image 0.4s ease;
}

.button-categories-text {
  position: relative;
  z-index: 10;
}

.button-categories::before,
.button-categories::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.button-categories::before {
  left: 0;
  background-image: radial-gradient(
    circle at 0% 45%,
    rgba(16, 5, 36, 1) 19%,
    rgba(16, 5, 36, 0.26) 46%,
    rgba(16, 5, 36, 0) 100%
  );
}

.button-categories::after {
  right: 0;
  background-image: radial-gradient(
    circle at 100% 45%,
    rgba(16, 5, 36, 1) 19%,
    rgba(16, 5, 36, 0.26) 46%,
    rgba(16, 5, 36, 0) 100%
  );
}

.button-categories:hover {
  background-image: linear-gradient(
    135deg,
    #4285f4 0%,
    #1a73e8 50%,
    #185abc 100%
  );
  box-shadow: 0px 0px 20px 0 #4285f4;
}

.button-categories:hover::before,
.button-categories:hover::after {
  width: 0;
  opacity: 0;
}




/*estilo boton menu user Angular Button estilo personalizado*/ 

.cta-custom {
  padding: 5px 10px;
  background: linear-gradient(to right, #2563eb, #9333ea, #ec4899);
  color: white;
  font-size: 16px;
  transition: 0.4s;
  transform: skewX(-15deg);
  box-shadow: 6px 6px 0 black;
  border: none;
  cursor: pointer;
  margin-top: 0px;
   
}

.cta-custom:hover {
  box-shadow: 10px 10px 0 #fbc638;
}

.cta-custom .second {
  transition: 0.5s;
  margin-right: 0;
}

.cta-custom:hover .second {
  margin-right: 20px;
}

.span {
  transform: skewX(15deg);
  display: flex;
  align-items: center;
}

.second {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta-custom:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta-custom:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    stroke: white;
  }
  50% {
    stroke: #fbc638;
  }
  100% {
    stroke: white;
  }
}


/* 游 Responsive: reducir ancho en pantallas peque침as */
@media (max-width: 640px) {
  .cta-custom {
    width: fit-content;
    padding: 8px 16px;
    font-size: 14px;
  }

  .second {
    margin-left: 10px;
  }
}


/*------------------------------ input buscador ----------*/


.input-buscador-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;
  color: white;
  width: 100%;
}

.input-buscador-label {
  font-size: 15px;
  padding-left: 10px;
  position: absolute;
  top: 13px;
  transition: 0.3s;
  pointer-events: none;
}

.input-buscador {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  padding: 0px 10px;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  background-color: transparent;
  background: #112223;
  box-shadow:
    3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
  padding-right: 45px; /* espacio para el 칤cono */
}

.input-buscador:focus {
  border: 2px solid transparent;
  color: #fff;
  box-shadow:
    3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input-buscador:valid ~ .input-buscador-label,
.input-buscador:focus ~ .input-buscador-label {
  transition: 0.3s;
  padding-left: 2px;
  transform: translateY(-35px);
}



/*----------------boton IA --------------*/

.button-ia {
  --black-700: hsla(0 0% 12% / 1);
  --border_radius: 9999px;
  --transtion: 0.3s ease-in-out;
  --offset: 2px;

  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  transform-origin: center;

  padding: 1rem 2rem;
  background-color: transparent;

  border: none;
  border-radius: var(--border_radius);
  transform: scale(calc(1 + (var(--active, 0) * 0.1)));

  transition: transform var(--transtion);
}

.button-ia::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-color: var(--black-700);

  border-radius: var(--border_radius);
  box-shadow: inset 0 0.5px hsl(0, 0%, 100%), inset 0 -1px 2px 0 hsl(0, 0%, 0%),
    0px 4px 10px -4px hsla(0 0% 0% / calc(1 - var(--active, 0))),
    0 0 0 calc(var(--active, 0) * 0.375rem) hsl(260 97% 50% / 0.75);

  transition: all var(--transtion);
  z-index: 0;
}

.button-ia::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-color: #84a7a983; /* color reemplazado */
  background-image: none; /* eliminamos los gradientes */
  background-position: top;

  opacity: var(--active, 0);
  border-radius: var(--border_radius);
  transition: opacity var(--transtion);
  z-index: 2;
}


.button-ia:is(:hover, :focus-visible) {
  --active: 1;
}
.button-ia:active {
  transform: scale(1);
}

.button-ia .dots_border {
  --size_border: calc(100% + 2px);
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--size_border);
  height: var(--size_border);
  background-color: transparent;
  border-radius: var(--border_radius);
  z-index: -10;
}

.button-ia .dots_border::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left;
  transform: rotate(0deg);
  width: 100%;
  height: 2rem;
  background-color: white;
  mask: linear-gradient(transparent 0%, white 120%);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.button-ia .sparkle {
  position: relative;
  z-index: 10;
  width: 1.75rem;
}

.button-ia .sparkle .path {
  fill: currentColor;
  stroke: currentColor;
  transform-origin: center;
  color: hsl(0, 0%, 100%);
}

.button-ia:is(:hover, :focus-visible)::before {
  box-shadow:
    inset 0 0.5px hsl(0, 0%, 100%),
    inset 0 -1px 2px 0 hsl(0, 0%, 0%),
    0px 4px 10px -4px hsla(0, 0%, 0%, 0.4),
    0 0 0 0.375rem #ffffff27;
}


.button-ia .sparkle .path:nth-child(1) {
  --scale_path_1: 1.2;
}
.button-ia .sparkle .path:nth-child(2) {
  --scale_path_2: 1.2;
}
.button-ia .sparkle .path:nth-child(3) {
  --scale_path_3: 1.2;
}

@keyframes path {
  0%,
  34%,
  71%,
  100% {
    transform: scale(1);
  }
  17% {
    transform: scale(var(--scale_path_1, 1));
  }
  49% {
    transform: scale(var(--scale_path_2, 1));
  }
  83% {
    transform: scale(var(--scale_path_3, 1));
  }
}

.button-ia .text_button {
  position: relative;
  z-index: 10;
  font-size: 0.8rem;
  color: white;
  
}

